<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LoggingEntities" connectionString="metadata=res://*/Logging.Logging.csdl|res://*/Logging.Logging.ssdl|res://*/Logging.Logging.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WV00235086;Initial Catalog=thebhasins;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>